<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <link href="~/styles01.css" rel="stylesheet" type="text/css">
    <title> Index </title>
</HEAD>
<BODY>
    <h1> Programacion Web </h1>
    <h2> 7mo Semestre </h2>
    <h3> Agosto 2021 - Diciembre 2021 </h3>
    <h4> Jean Carlo Muñoz Torres </h4>
</BODY>
</HTML>

