<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<HTML>
<HEAD>
    <link href="~/styles01.css" rel="stylesheet" type="text/css">
    <title> Index </title>
</HEAD>
<BODY class="bodyMiPerfil">
    <nav class="UserCard">
        <img src="~/PicPerfil.jpg" />
        <nav class="info">
            <p> Jean Carlo Muñoz Torres </p>
            <p> 181G0250 </p>
            <p> Ingenieria en Sistemas Computacionales </p>
            <p> I.T.E.S.R.C. </p>
        </nav>
    </nav>
</BODY>
</HTML>
